<h1>Add a new Patient</h1>

<form action="/doctors" method="post">
  <div class="form-group">
    <label for="patient_name">Patient name</label>
    <input id="n" name="patient_name" class="form-control" type="text">
  <label for="patient_birthday">Patient birthday</label>
    <input id="n" name="patient_birthday" class="form-control" type="text">
  <label for="patient_reason">Patient reason for visit</label>
    <input id="n" name="patient_reason" class="form-control" type="text">
    <label for="patient_reason">Assigned doctor for visit</label>
    <input id="n" name="patient_birthday" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Add doctor</button>
</form>

